In [10]:
import pandas as pd

data = pd.read_csv('FormattedData/view.csv')
new = ['Timestamp', 'Anomaly', 'Anomaly_Score']
final = data[new]

final.head(50)

                Timestamp  Anomaly  Anomaly_Score
2682  2022-02-18 17:26:47        1       0.009970
2683  2022-02-18 17:31:47        1       0.046298
2684  2022-02-18 17:36:47        1       0.087189
2685  2022-02-18 17:41:47        1       0.107282
2686  2022-02-18 17:46:47        1       0.120314
2687  2022-02-18 17:51:48        1       0.120049
2688  2022-02-18 17:56:48        1       0.115303
2689  2022-02-18 18:01:49        1       0.118011
2690  2022-02-18 18:06:49        1       0.131521
2691  2022-02-18 18:11:50        1       0.148419
2692  2022-02-18 18:16:50        1       0.152157
2693  2022-02-18 18:21:51        1       0.169407
2694  2022-02-18 18:26:51        1       0.171792
2695  2022-02-18 18:31:51        1       0.173688
2696  2022-02-18 18:36:51        1       0.175115
2697  2022-02-18 18:41:52        1       0.176543
2698  2022-02-18 18:46:52        1       0.175115
2699  2022-02-18 18:51:53        1       0.183623
2700  2022-02-18 18:56:53        1       0.181219
2701  2022-02-18 19:01:53        1       0.180739
2702  2022-02-18 19:06:53        1       0.180739
2703  2022-02-18 19:11:53        1       0.179302
2704  2022-02-18 19:16:53        1       0.177867
2705  2022-02-18 19:21:54        1       0.168266
2706  2022-02-18 19:26:54        1       0.166601
2707  2022-02-18 19:31:54        1       0.166132
2708  2022-02-18 19:36:55        1       0.166601
2709  2022-02-18 19:41:55        1       0.165193