In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('trainTest.csv',index_col='Timestamp',infer_datetime_format=True)

In [13]:
df.head()

,MON1 CL DDM (?A),MON1 CL RF (dB),MON1 DS DDM (?A),MON1 DS RF (dB),MON1 NF DDM (?A),MON1 NF RF (dB),MON1 CLR DDM (?A),MON1 CLR RF (dB),TEMP1,TEMP2,TRYKK,SIKT
Timestamp,,,,,,,,,,,,
2022-01-28 14:11:19,2.02,0.32,0.87,0.29,-3.18,0.19,2.31,0.34,0,-5,1005,9999
2022-01-28 14:16:19,1.74,0.32,0.87,0.29,-2.89,0.19,2.31,0.34,0,-5,1005,9999
2022-01-28 14:21:20,1.74,0.32,0.87,0.29,-3.18,0.19,2.60,0.34,0,-6,1005,9999
2022-01-28 14:26:20,0.29,-39.90,-76.94,-39.90,0.00,-39.90,-322.78,-35.61,0,-6,1005,9999
2022-01-28 14:31:20,0.00,-39.90,-76.94,-39.90,0.00,-39.90,-322.49,-35.61,0,-6,1005,9999

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3371 entries, 2022-01-28 14:11:19 to 2022-02-09 07:20:39
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MON1 CL DDM (?A)   3371 non-null   float64
 1   MON1 CL RF (dB)    3371 non-null   float64
 2   MON1 DS DDM (?A)   3371 non-null   float64
 3   MON1 DS RF (dB)    3371 non-null   float64
 4   MON1 NF DDM (?A)   3371 non-null   float64
 5   MON1 NF RF (dB)    3371 non-null   float64
 6   MON1 CLR DDM (?A)  3371 non-null   float64
 7   MON1 CLR RF (dB)   3371 non-null   float64
 8   TEMP1              3371 non-null   int64
 9   TEMP2              3371 non-null   int64
 10  TRYKK              3371 non-null   int64
 11  SIKT               3371 non-null   int64
dtypes: float64(8), int64(4)
memory usage: 342.4+ KB

In [15]:
df = df.round(2)

In [16]:
len(df)

3371